################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Breakout.sln
/Intermediate
/Binaries/Win64
/Build
